CASSANDRA_CONTAINER_NAME={{ cassandra_container_name }}
CASSANDRA_IMAGE_REPO={{ cassandra_image_repo }}
CASSANDRA_IMAGE_TAG={{ cassandra_image_tag }}
CASSANDRA_DATA_PATH={{ cassandra_data_path }}
CASSANDRA_CONFIG_PATH={{ cassandra_config_path }}
CASSANDRA_CNFIG_FILE={{ cassandra_config_file }}
CASSANDRA_RACKDC_PROPERTIES_FILE={{ cassandra_rackdc_properties_file }}
CASSANDRA_SEEDS={{ cassandra_cluster_seeds }}
